::-webkit-scrollbar {
   display: none;
}

@font-face {
   font-family: "neue";
   src: url(neue.woff2);
   font-weight: normal;
}

@font-face {
   font-family: "ogg";
   src: url(ogg.woff);
   font-weight: normal;
}

body {
   margin: 0;
   width: 100% height:100%;
   font-family: "neue";
   font-size: 20pt;
   background-image: url(back.jpg);
   !important;
   -webkit-print-color-adjust: exact;
}

img {
   width: 100%
}

h1 {
   font-size: 20pt;
   font-weight: normal;
}

h2 {
   font-size: 20px;
   font-weight: normal;
   text-align: center;
}
h5 {
   font-size: 40pt;
   font-weight: normal;
   line-height: 37pt;
}

.topnav {
   overflow: hidden;
   width: 100%;
   color: black;
   display: none;
}

.topnav a {
   float: left;
   color: #f2f2f2;
   text-align: center;
   padding: 0;
   text-decoration: none;
   font-size: 17px;
   color: black;
   background-color: white;
   display: none;
}

.topnav a:hover {
   background-color: black;
   color: white;
   display: none;
}

.topnav a.active {
   background-color: #4CAF50;
   color: white;
   display: none;
}

.btmnav {
   overflow: hidden;
   width: 100%;
   color: black;
   display: block;
   display: none;
}

.btmnav a {
   background-color: white;
   float: left;
   text-align: center;
   padding: 0;
   text-decoration: none;
   font-size: 17px;
   color: transparent;
}

.btmnav a:hover {
   color: transparent;
}

.btmnav a.active {
   background-color: #4CAF50;
}

#content,
html,
body {
   height: 98%;
}

button {
   display: none;
}

.column_1 {
   width: 100%;
   font-size: 17px;
   color: black;
   display: none;
}

.titles {
   width: 100%;
   font-size: 17px;
   border-bottom: 1px solid black;
   position: fixed;
   display: none;
}

.column_2 {
   width: 49.9%;
   font-size: 17px;
   color: black;
   display: inline-block;
   text-align: center;
   display: none;
}

p {
   font-style: italic;
}

#overlay_print {
   min-height: 100%;
   min-width: 100% z-index: 100;
}

#overlay {
   display: none;
}

.index {
   font-size: 20pt;
   width: 100%;
   page-break-after: always;
}

li {
/*   border-top: 1px solid black;*/
}

ul {
   padding-left: 0px;
/*   border-bottom: 1px solid black;*/
   list-style: none;
   width: 100%;
   page-break-after: always;
}
.chapter {
   width: 49%;
   display: inline-grid;
   margin-top: -12%;
}
.empty {
   page-break-after: always !important;
}
.visuals {
   width: 100%;
   page-break-after: always;
}
figcaption {
   font-size: 20pt;
   text-align: center;
}